{{ define "main"}}
<div class="p-20">
    <div>
        <h1 class="text-5xl font-bold font-sans text-black flex justify-center">
            FAQs
        </h1>
        <p class="text-lg font-sans text-gray-500 flex justify-center mb-10">Here are some frequently asked questions
        </p>
    </div>
    {{ range .Paginator.Pages}}
    <div class="ml-50">
        <h2
            class="flex content-center gap-3 mb-5 hover:text-amber-700 text-xl transition-transform duration-300 hover:translate-y-1">
            <a href="{{ .Permalink }}">{{ .Title }}
            </a>
        </h2>
        <hr class="mt-5 mb-6 w-42">
    </div>
    {{end}}
</div>
{{ end }}