{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $width := .Get "width" | default 800 }}
{{ $height := .Get "height" | default 600 }}
{{ $class := .Get "class" | default "" }}
{{ $loading := .Get "loading" | default "lazy" }}
{{ with resources.Get $src }}
{{ $image := .Resize (printf "%dx%d" $width $height) }}
<img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $alt }}"
    class="{{ $class }}" loading="{{ $loading }}">
{{ else }}
<img src="{{ $src }}" width="{{ $width }}" height="{{ $height }}" alt="{{ $alt }}" class="{{ $class }}"
    loading="{{ $loading }}">
{{ end }}